.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-more {
    padding: 10px 15px;
    margin-top: 16px;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    outline: none;
    color: var(--menu-text);
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-more:hover {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}
